@model Fan.Chinese.MVC.Models.Vocabulary

@{
    ViewData["Title"] = "Edit a Vocabulary";
}

<h2>Edit</h2>

<form asp-action="Edit">
    <div class="form-horizontal">
        <h4>Vocabulary</h4>
        <hr/>
        <div asp-validation-summary="ValidationSummary.ModelOnly" class="text-danger"></div>
        <div class="form-group">
            <label asp-for="Pinyin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Pinyin" class="form-control" />
                <span asp-validation-for="Pinyin" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Chinese" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Chinese" class="form-control"/>
                <span asp-validation-for="Chinese" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="English" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="English" class="form-control"/>
                <span asp-validation-for="English" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="Example" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="Example" class="form-control"/>
                <span asp-validation-for="Example" class="text-danger" />
            </div>
        </div>
        <div class="form-group">
            <label asp-for="ExamplePinyin" class="col-md-2 control-label"></label>
            <div class="col-md-10">
                <input asp-for="ExamplePinyin" class="form-control"/>
                <span asp-validation-for="ExamplePinyin" class="text-danger" />
            </div>
        </div>
        
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default"/>
            </div>
        </div>
    </div>
    <div class="hidden"><input asp-for="VocabularyId" class="form-control" /></div>
</form>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}
